.body{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.arr {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    height: 100vh;
}


.num {
    font-style: italic;
    text-align: center;
    /* line-height: center; */
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    /* background-color: #6fbd9600; */
    /* background-color: #6fbd96; */
}

